body {
    background-color: rgb(29, 29, 29);
    padding-top: 1rem;
}
.dashboard {
    display: flex;
    width: 100vw;
    max-width: 700px;
    margin: auto;
    background-color:rgb(51, 51, 51);
    text-align: center;
    justify-content: space-around;
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color:rgb(94, 94, 94);
}
.dash-buts {
    height: 100%;
    width: 100%;
    align-items: center;
}
.dash-buts .btn {
    background-color: rgb(78, 78, 78);
}
.dash-buts .btn:hover {
    background-color: rgb(100, 100, 100);
}
#loadGameButton, #resetGameButton {
    margin: 1rem;
}
.game-utils {
    display: flex;
    width: 100vw;
    max-width: 500px;
    margin: auto;
    margin-top: 1rem;
    background-color: rgb(51, 51, 51);
    border-color:rgb(94, 94, 94);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    padding: 1rem;
}
.game-utils .num-but {
    color: white;
    width: 40px;
}
.game {
    display: flex;
    width: 100%;
    max-width: 500px;
    text-align: center;
    color: white;
    justify-content: space-around;
    margin: auto;
    padding-top: 1rem;
}
.game table {
    width: 100%;
    margin: 0;
    padding: 0;
}
.game td {
    padding: 0;
    margin: 0;
    width: 11.11%;
    position: relative;
}
.game td:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.game input {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
    outline: none;
    font-size: 20px;
}
.game input:hover {
    border-width: 2px;
    border-color: rgba(82, 161, 86, 0.767);
}
#num02,
#num12,
#num22,
#num32,
#num42,
#num52,
#num62,
#num72,
#num82,
#num05,
#num15,
#num25,
#num35,
#num45,
#num55,
#num65,
#num75,
#num85 {
    border-bottom-color: rgb(75, 204, 84);
    border-bottom-width: 2px;
}
#num03,
#num13,
#num23,
#num33,
#num43,
#num53,
#num63,
#num73,
#num83,
#num06,
#num16,
#num26,
#num36,
#num46,
#num56,
#num66,
#num76,
#num86 {
    border-top-color: rgb(75, 204, 84);
    border-top-width: 2px;
}
#num20,
#num21,
#num22,
#num23,
#num24,
#num25,
#num26,
#num27,
#num28,
#num50,
#num51,
#num52,
#num53,
#num54,
#num55,
#num56,
#num57,
#num58 {
    border-right-color: rgb(75, 204, 84);
    border-right-width: 2px;
}
#num30,
#num31,
#num32,
#num33,
#num34,
#num35,
#num36,
#num37,
#num38,
#num60,
#num61,
#num62,
#num63,
#num64,
#num65,
#num66,
#num67,
#num68 {
    border-left-color: rgb(75, 204, 84);
    border-left-width: 2px;
}
